/* SECTION - 1 */
.section-banner {
  overflow-x: hidden;
}
.banner {
  max-width: 1464px;
  height: 762px;
  position: relative;
}

.banner__btn {
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-bottom: 48px;
  transform: translate(-50%);
}

.banner-img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
@media (max-width: 768px) {
  .section-banner {
    height: calc(100vh - (100vh - 725px + 78px));
    margin-top: 0px;
  }
  .banner {
    position: absolute;
    /* height: max; */
    top: 0;
    left: 0;
    width: 100%;
    height: 725px;
    z-index: -1;
  }
  .banner-title {
    position: absolute;
    top: 520px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    color: white;
  }
  .banner-img {
    border-radius: 0px 0px 15px 15px;
  }
  .banner-title .text-green {
    color: var(--color-accent);
  }
}
@media (max-width: 420px) {
  .section-banner {
    height: calc(100vh - (100vh - 623px + 60px));
    margin-top: 0px;
  }
  .banner {
    position: absolute;
    /* height: max; */
    top: 0;
    left: 0;
    width: 100%;
    height: 623px;
    z-index: -1;
  }
  .banner-title {
    top: 440px;
    padding: 0px 18px;
  }
}
