/* footer */
.footer.container {
  max-width: 100%;
  margin-top: 24px;
  background-color: #ededed;
  border-radius: 25px 25px 0px 0px;
  /* height: 503px; */
  padding: 96px 132px 218px 132px;
}

.footer {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  align-items: flex-start;
}
.copyright {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  text-wrap: nowrap;
}
.footer-menu {
  display: flex;
  flex-direction: column;
  min-width: 174px;
}
.footer-menu__title {
  font-size: 22px;
  font-weight: 900;
  line-height: 150%;
  margin-bottom: 12px;
}
.footer-menu__item {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}
.footer-menu__item:not(:last-child) {
  margin-bottom: 12px;
}
.footer-menu__item--contacts {
  display: flex;
  gap: 24px;
  flex-direction: column;
  text-wrap: nowrap;
}
/* 
 'mobile': 375, 
 'mobile-xl': 480, 
 'tablet': 768, 
 'tablet-xl': 992, 
 'laptop': 1024, 
 'laptop-xl': 1280, 
 'laptop-xxl': 1440, 
 'pc': 1600)
 */

@media (max-width: 1280px) {
  .footer.container {
    padding: 42px 20px 139px 20px;
    justify-content: flex-start;
    gap: 36px;
  }
  .copyright {
    order: 1;
  }
  .menu__title {
    font-size: 20px;
  }
  .menu__item {
    font-size: 14px;
  }
}
@media (max-width: 800px) {
  .footer.container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    column-gap: 18px;
    row-gap: 36px;
    justify-content: space-between;
  }
  .footer-menu:nth-child(1) {
    grid-area: 3 / 1 / 4 / 3;
  }
  .footer-menu:nth-child(2) {
    grid-area: 1 / 1 / 2 / 3;
  }
  .footer-menu:nth-child(3) {
    grid-area: 2 / 2 / 3 / 3;
  }
  .footer-menu:nth-child(4) {
    grid-area: 2 / 1 / 3 / 2;
  }

  .footer-menu {
    /* max-width: 174px; */
  }
  .menu-first {
    flex: 1 1 auto;
    width: 100%;
  }
  .menu__title {
    font-size: 18px;
  }
  .menu__item {
    font-size: 12px;
  }
}
@media (max-width: 420px) {
  .footer.container {
    display: flex;
    gap: 36px;
    flex-direction: column;
    padding-bottom: 36px;
  }
}
